@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 2s;
  animation: slide-top 2s;
  z-index: 10;

}

.header{
  -webkit-animation: fade2 2s;
  animation: fade2 2s;
  z-index: 10;
}

@keyframes fade2 {
  from{
    z-index: 10;
    background-color: #01010100 ;
  }

  to {
    z-index: 10;
    background-color: #010101;
  }
}

@-webkit-keyframes fade2 {
  from{
    background-color: #01010100 ;
  }

  to {
    background-color: #010101;
  }
}

.fade {
  animation: fade;
}

@keyframes fade {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  0% {
    z-index: 10;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    z-index: 10;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-top {
  0% {
    z-index: 10;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    z-index: 10;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bg-header-gradient {
  background: linear-gradient(180deg, #000000 0%, #18013A 100%);
  position: absolute;
  position: fixed;
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.row {
  display: grid;
}

.littera{
  position: absolute;
  top: 30px;
  left: 25px;
}

.hamburger {
  position: absolute;
  top: 11px;
  right: 25px;
}

.accordion{
  z-index: 10;
  margin-top: 25px;
}

.bg-header {
  background: linear-gradient(180deg, rgba(0, 0, 0.5, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(5px);
  z-index: 10;
  position: fixed;
}

.bg-header-toggle {
  background-color: #010101;
  z-index: 10;
  position: fixed;
}


.bg {
  background: #010101;
}

.margin15 {
  margin-bottom: 15px;
}

.bg-div-home {
  background-image: url("./assets/div1.png");
  height: 700px;
  margin-top: 42px;
}

.title {
  justify-content: center;
  margin-top: 195px; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  /* or 101% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;

}

.subtitle {
  justify-content: center;
  margin-top: 190px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 194% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

.subtitle2 {
  justify-content: center;
  margin-top: -10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 194% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

.redirect {
  margin-top: 210px;
  justify-content: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 31px;
  /* identical to box height, or 258% */

  text-align: center;

  color: #FFFFFF;
}

.redirect-button {
  justify-content: center;
}

.redirect-image {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

.title-servicos {
  margin-top: 130px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.title-servicos2 {
  margin-top: --10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.slider-servicos {
  height: 500px;
  width: 350px;
  margin-top: 0px;
  justify-content: center;
}

.dot-filled {
  color: #5E18CA;
}

.bg-purple {
  background-color: #5E18CA80;
}

.carousel {
  margin-top: 50px;
  z-index: 1;
}

.image-foreground {
  background-color: #5E18CA;
  height: 500px;
  width: 400px;
}

.images {
  border-radius: 20px;
  background: #5E18CA;
  object-fit: cover;
  height: 500px;
  width: 400px;

}

.slider-control-bottomcenter button{
  background: #5E18CA !important;
  border-radius: 50%; 
  width: 15px !important;
  height: 15px !important; 
}

.slider-control-bottomcenter svg{
  display: none !important;
 }

.slider-control-bottomcenter li{
  margin-right: 5px;
 }

.bg-div3 {
  background-image: url("./assets/div3.png");
  height: 978px;
  margin-top: 95px;
}

.title-div3 {
  margin-top: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */

  text-align: center;

  color: #FFFFFF;

}


.navbar-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  
  letter-spacing: -0.408px;
  
  color: #FFFFFF;

}

.image-diferencial {
  margin-top: 50px;
  margin-left: 8%;
  height: 275px;
  width: 190px;
  border-radius: 20px;
  object-fit: cover;
}

.image-diferencial2 {
  margin-top: 50px;
  margin-left: 47%;
  height: 275px;
  width: 190px;
  border-radius: 20px;
  object-fit: cover;
}

.card-diferencial {
  height: 233px;
  width: 85%;
  margin-top: -250px;
  margin-left: 8%;
  background: #EBBE13;
  border-radius: 20px;
  z-index: -1;

}

.card-diferencial2 {
  height: 233px;
  width: 85%;
  margin-top: -250px;
  margin-left: 8%;
  background: #EBBE13;
  border-radius: 20px;
  z-index: -1;

}

.textbox-diferencial {
  height: 177px;
  width: 35%;
  margin-left: 63%;
  padding-top: 7%;
}

.textbox-diferencial2 {
  height: 177px;
  width: 30%;
  margin-left: 20px;
  padding-top: 12%;
}

.text-diferencial{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 17px;
  /* or 142% */


  color: #FFFFFF;
}

.text-portfolio{
  margin-top: 80px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 172% */

  text-align: center;

  color: #FFFFFF;
}

.bg-div-fv {
  background-image: url("./assets/divFv.png");
  height: 575px;
  background-repeat: no-repeat ;
  margin-top: 100px;
}

.bg-div-solucionare {
  background-image: url("./assets/divSolucionare.png");
  height: 548px;
  background-repeat: no-repeat ;
  margin-top: -200px;
}

.image-fv{
  z-index: 1;
  margin-top: 65px;
  margin-left: 1%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.text-fv{
  margin-top: -150px;
  margin-left: 62%;
  z-index: 1;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 172% */


  color: #FFFFFF;
}

.image-solucionare{
  z-index: 1;
  margin-top: 145px;
  margin-left: auto;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes floating-small {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}


.text-solucionare{
  margin-top: -185px;
  margin-left: 30px;
  z-index: 1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 172% */


  color: #FFFFFF;
}

.animation-container{
  height: 35px;
  background: #EBBE13;
  transform: rotate(-2.72deg);
  vertical-align: middle;

  z-index: 1;
}

.text-animation{
  margin-top: 2.5px;
  width: 1200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 31px;
  /* or 78% */

  white-space: nowrap;

  color: #ffffff00;
  -webkit-text-stroke: 1px #5E18CA;
  transform: rotate(-0.25deg);
}

.text-animation2{
  margin-top: 5px;
  width: 1000px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 31px;
  /* identical to box height, or 97% */

  white-space: nowrap;

  color: #00000000;
  transform: rotate(3.59deg);
  -webkit-text-stroke: 1px #EBBE13;
}

.animation-container2{
  margin-top: 10px;
  margin-left: -2px;
  margin-right: -2px;
  height: 40px;
  background: #5E18CA;
  transform: rotate(3.59deg);
  vertical-align: middle;

  z-index: 2;
}

.animation {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 80s linear infinite /* infinite make reapeat the animation indefinitely */;
}

.animation2 {
  display: block; /* Important to give the content a width */

  transform: translateX(-100px); /* Animation start out of the screen */

  /* Add the animation */
  animation: move-reverse 80s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}

@keyframes move-reverse {
  0% {
    transform: translate3d(-1500px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); /* The image width */
  }
}

.section-animation {
  margin-top: 35px;
}

.title-team {
  margin-top: 70px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 203% */

  text-align: center;

  color: #FFFFFF;
}

.carousel-team {
  margin-top: 15px;

}

.images-team {
  margin-left: 0px;
  height: 110px;
  width: 110px;
  object-fit: cover;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.float-effect {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeinteam {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}

@-moz-keyframes fadeinteam {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadeinteam {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
@-ms-keyframes fadeinteam {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
@-o-keyframes fadeinteam {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.menu-accordion{
  margin-top: 70px;
  z-index: 0;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.footer{
  background-image: url("./assets/div7.png");
  height: 975px;
  width: 100%;
  margin-bottom: -25px;
}

.title-contact{
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height, or 94% */

  text-align: center;

  color: #FFFFFF;
}

.contact-small{
  margin-top: 55px;
  margin-left: 12px;
  width: 45%;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.contact-right{
  float: right;
  margin-right: 12px;
}

.contact-left {
  float: left;
}

.contact{
  margin-top: 90px;
}

.contact-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  line-height: 17px;
  /* or 170% */

  display: flex;
  align-items: center;

  color: #FFFFFF;
  margin-left: 8px;
  margin-top: 4px;
}

.contact-large{
  margin-top: 120px;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.contact-big{
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.contact-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
  height: 50px;
  background: #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.contact-button-text{

  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  
  
  color: #ffffff;
}

.div-whatsapp{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.whatsapp-text{
  margin-top: 20px;
  margin-left: 30%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */

  display: flex;
  align-items: center;

  color: #EBBE13;

}

.whatsapp{
  margin-top: 10px;
  height: 32px;
  width: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-component{
  z-index: 10;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-line{
  width: auto;
}

.div1-footer{
  margin-top: 5px;
  display: flex;
}

.div2-footer{
  margin-top: 5px;
  display: flex;
}

.div3-footer{
  margin-top: 20px;
  display: flex;
}

.div4-footer{
  display: flex;
}

.footer-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height, or 170% */

  color: #FFFFFF;
}

.text-left{
  position: absolute;
  right: 20px;
}

.text-footer-interest{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height, or 170% */


  color: #B1B1B1;
}

.icon-button{
  width: 32px;
  height: 32px;
}

.icon-button-email{
  height: 32px;
  width: 32px;
}

.icon-first{
  margin-left: -5px;
}

.icon-margin{
  margin-left: 5px;
}

.icon-end{
  position: absolute;
  right: 15px;
}

.icon-end2{
  position: absolute;
  right: 52px;
}

.icon-end3{
  position: absolute;
  right: 87px;
}

.div-div4-footer{
  display: flex;
  margin-top: 25px;
}

.div-div-div4-footer{
  margin-top: 8px;
  margin-left: 10px;
}

.love{
  text-align: center;
  margin-top: 70px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height, or 170% */


  color: #FFFFFF;
}

.map{
  object-fit: cover;
  position: absolute;
  right: 20px;
  width: 175px;
  height:100px;
  border-radius: 10px;
}

.image1{
  background-image: url("./assets/card1.png");
}
.image2{
  background-image: url("./assets/card2.png");
}
.image3{
  background-image: url("./assets/card3.png");
}

/* 
    WEB
*/

.bg-div-home-web{
  background-image: url("./assets/Div1Web.png");
  width: 100%;
  height: 750px;
  margin-top: -8%;
}

.title-web{
  text-align: center;
  margin-top: 15%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;

}
.title-web2{
  text-align: center;
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;

}

.subtitle-web{
  justify-content: center;
  margin-top: 8%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 194% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

.subtitle-web2{
  justify-content: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 194% */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

.redirect-text-web{ 
  margin-top: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 31px;
  /* identical to box height, or 194% */

  text-align: center;

  color: #FFFFFF;
}

.servicos{
  margin-top: 20%;
}

.title-servicos-web{
  margin-top: 10%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 28px;
  text-align: center;

  color: #FFFFFF;
}

.title-servicos-web2{
  margin-top: 7px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 28px;
  text-align: center;

  color: #FFFFFF;
}

.sticky-div{
  margin-top: 80px;
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.line-big{
  width: 100%;
  height: 1px;
}

.bg-div-sites{
  background-image: url("./assets/div1sites.png");
  height: 580px;
  margin-top: -4%;
}

.conteudo-sites{
  text-align: center;
  margin-top: 10%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 22px;
  /* or 69% */

  letter-spacing: -0.408px;

  color: #FFFFFF;
}

.conteudo-sites2{
  text-align: center;
  margin-top: 3%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 22px;
  /* or 69% */

  letter-spacing: -0.408px;

  color: #5E18CA;
}

.div-celulares{
  margin-top: 30px;
}

.background-celular{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-celular{
  margin-top: -62%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bg-div3-sites{
  background-image: url("./assets/div3sites.png");
  height: 960px;
  margin-top: 10%;
}

.title-diferencial-site{
  margin-top: 30%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  /* identical to box height, or 92% */

  text-align: center;
  letter-spacing: -0.408px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.text-div{
  margin-top: 20%;
  display: flex;
  justify-content: center;
}

.image1-text{
  margin-left: 5%;
}

.text-diferencial-site{
  width: auto;
  margin-top: 4%;
  margin-left: 2.5%;
  margin-right: 5%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */


  color: #FFFFFF;
}

.text-div2{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.image1-text2{
  margin-right: 5%;
}

.text-diferencial-site2{
  width: auto;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 2.5%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */


  color: #FFFFFF;
}

.timeline-div{
  margin-top: 5%;
}

.title-timeline{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline{
  margin-top: 10%;
}

.precos{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-orcamento{
  margin-top: 10%;
}

.card-orcamentos{
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
  background-color: #5E18CA;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
}

.footer-sites{
  margin-top: 25%;
}

.title-card-orcamentos{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;

}

.subtitle-card-orcamentos{
  margin-top: 2%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;

}

.buttons-card-orcamentos{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.button-card-orcamentos{
  justify-content: center;

  width: 140px;
  height: 50px;

  margin-left: 5%;

  background: #EBBE13;
  border-radius: 10px;

  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 31px;
  color: #FFFFFF;
}

.button-right{
  margin-left: 10%;
}

.bg-div3-web{
  background-color: #5E18CA;
  padding-bottom: 10%;
}

.servicos-bg{

}

.title-div3-web {
  margin-top: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 31px;
  /* identical to box height, or 97% */
  
  text-align: center;

  color: #FFFFFF;

}

.image1-web{
  margin-top: 5%;
  margin-left: 5%;
  height: 300px;
  width: 430px;
  border-radius: 20px;
  object-fit: cover;
}

.card-diferencial-web{
  height: 250px;
  width: auto;
  margin-top: -20.5%;
  margin-left: 8%;
  margin-right: 5%;
  background: #EBBE13;
  border-radius: 20px;
  z-index: -1;
}

.textbox-diferencial-web {
  width: 60%;
  margin-left: 37%;
  padding-top: 3%;
}

.title-diferencial-web{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 31px;
  /* identical to box height, or 97% */

  text-align: start;

  color: #FFFFFF;
}

.text-diferencial-web{
  margin-top: 5%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  text-align: start;

  color: #FFFFFF;
}

.image2-web{
  margin-top: 5%;
  display: block;
  margin-left: 62.5%;
  height: 300px;
  width: 430px;
  border-radius: 20px;
  object-fit: cover;
}

.card-diferencial-web2{
  height: 250px;
  width: auto;
  margin-top: -20.5%;
  margin-left: 5%;
  margin-right: 5%;
  background: #EBBE13;
  border-radius: 20px;
  z-index: -1;
}

.textbox-diferencial-web2{
  width: 55%;
  margin-left: 5%;
  padding-top: 2.5%;
}

.title-diferencial-web2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 31px;
  /* identical to box height, or 97% */

  text-align: end;

  color: #FFFFFF;
}

.text-diferencial-web2{
  margin-top: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: end;

  color: #FFFFFF;
}

.sticky-div{
  margin-bottom: 30%;
}

.text-portfolio-web{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 30px;
  /* identical to box height, or 172% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #FFFFFF;
}

.div-portfolio{
  background-color: #000000;
}

.images-carousel{
  float: left;
  width: 20%;
  padding: 5px;
}

.carousel-team-web{
  margin-top: 5%;
  margin-bottom: 10%;
}

.carousel-team-web::after{
  content: "";
  clear: both;
  display: table;
}

.image-carousel-web{
  width: 200px;
  height: 200px;
}

.container-carousel{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.leo-carousel-web{
  background-image: url(./assets/leoWeb.png);
  width: 200px;
  height: 200px;
}

.thomas-carousel-web{
  background-image: url(./assets/thomasWeb.png);
  object-fit: fill;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.anna-carousel-web{
  background-image: url(./assets/annaWeb.png);
  object-fit: fill;
  width: 200px;
  height: 200px;
}
.buda-carousel-web{
  background-image: url(./assets/budaWeb.png);
  object-fit: fill;
  width: 200px;
  height: 200px;
}
.batata-carousel-web{
  background-image: url(./assets/batataWeb.png);
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.leo-carousel-web:hover{
  background-image: url(./assets/leoHover.png);
  -webkit-animation: fadeinteam 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinteam 1s; /* Firefox < 16 */
   -ms-animation: fadeinteam 1s; /* Internet Explorer */
    -o-animation: fadeinteam 1s; /* Opera < 12.1 */
       animation: fadeinteam 1s;
}
.anna-carousel-web:hover{
  background-image: url(./assets/annaHover.png);
  -webkit-animation: fadeinteam 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinteam 1s; /* Firefox < 16 */
   -ms-animation: fadeinteam 1s; /* Internet Explorer */
    -o-animation: fadeinteam 1s; /* Opera < 12.1 */
       animation: fadeinteam 1s;
}
.thomas-carousel-web:hover{
  background-image: url(./assets/thomasHover.png);
  -webkit-animation: fadeinteam 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinteam 1s; /* Firefox < 16 */
   -ms-animation: fadeinteam 1s; /* Internet Explorer */
    -o-animation: fadeinteam 1s; /* Opera < 12.1 */
       animation: fadeinteam 1s;
}
.buda-carousel-web:hover{
  background-image: url(./assets/budaHover.png);
  -webkit-animation: fadeinteam 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinteam 1s; /* Firefox < 16 */
   -ms-animation: fadeinteam 1s; /* Internet Explorer */
    -o-animation: fadeinteam 1s; /* Opera < 12.1 */
       animation: fadeinteam 1s;
}
.batata-carousel-web:hover{
  background-image: url(./assets/batataHover.png);
  -webkit-animation: fadeinteam 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinteam 1s; /* Firefox < 16 */
   -ms-animation: fadeinteam 1s; /* Internet Explorer */
    -o-animation: fadeinteam 1s; /* Opera < 12.1 */
       animation: fadeinteam 1s;
}

.title-team-web{
  margin-top: 20%px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 114% */

  text-align: center;

  color: #FFFFFF;
}


.footer-web{
  background-image: url("./assets/div7web.png");
  height: 955px;
  width: 100%;
  margin-bottom: -5%;
}

.title-contact-web{
  text-align: center;

  margin-bottom: 30px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */


  color: #FFFFFF;
}

.bg-contatct{
  margin-top: -5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 555px;
  width: 630px;
  background-image: url(./assets/bgContato.png);
}

.container-contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.whatsapp-text-web{
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #EBBE13;

}

.container-wpp{
  display: flex-box;
}

.contact-small-web{
  margin-left: 12px;
  width: 45%;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
}

.contact-large-web{
  margin-top: -10px;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #EBBE13;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.bg-fv-web{
  background-image: url(./assets/divFvWeb.png);
  width: 1000px;
  height: 760px;
  display: flexbox;
  margin-top: 5%;
}

.bg-solucionare-web{
  background-image: url(./assets/divSolucionareWeb.png);
  width: 1000px;
  height: 710px;
  margin-left: 25%;
}

.image-mobile-fv{
  margin-left: 10%;
  margin-top: 15%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.image-web-fv{
 margin-top: -40%;
 margin-left: 40%;
 animation-name: floating;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-timing-function: ease-in-out;
}

.text-fv-web{
  margin-top: -30%;
  margin-left: 80%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 129% */


  color: #FFFFFF;
}

.image-mobile-solucionare{
  margin-left: 20%;
  margin-top: 15%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.image-web-solucionare{
 margin-top: -40%;
 margin-left: 50%;
 animation-name: floating;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-timing-function: ease-in-out;
}

.text-solucionare-web{
  margin-top: -30%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 129% */


  color: #FFFFFF;
}

.footer-component-web{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
}

.footer-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  margin-bottom: 3%;

  text-align: center;
  justify-content: center;

  color: #FFFFFF;
}

.div-footer{
  float: left;
  width: 25%;
  padding: 5px;
}

.footer-links-div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.footer-links-div-div{
  float: left;
  padding: 5px;
}

.link-footer-web{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  margin-bottom: 5%;


  color: #B1B1B1;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-sites{
  margin-top: 25%;
}

.footer-web{
  margin-top: -10%;
}

.map-web{
  object-fit: cover;
  width: 185px;
  height:100px;
  border-radius: 10px;
}

.footer-line-web{
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
  height: 1px;
}

.love-web{
  text-align: center;
  margin-top: 1%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height, or 170% */


  color: #FFFFFF;
}

.footer-connect-div{
  display: flex;
  justify-content: center;
}

.social-media-icon{
  margin-left: 20%;
}

.social-media-icon2{
  margin-left: 40%;
}

.social-media-icon3{
  margin-left: 60%;
}

.title4-footer{
  margin-left: -10%;
  margin-top: 5%;
}

.title2-footer{
  margin-top: -25%;
}

.title1-footer{
  margin-top: -8%;
}

.bg-div-sites-web{
  background-image: url("./assets/bg-div-sites-web.png");
  height: 760px;
}

.div-title-sites{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height */

  text-align: start;
  margin-left: 10px;
  letter-spacing: -0.408px;

  color: #5E18CA;
}


.image-celular-sites{
  margin-top: -20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.conteudo-sites{
  text-align: center;
  margin-top: 10%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 22px;
  /* or 69% */

  letter-spacing: -0.408px;

  color: #FFFFFF;
}

.conteudo-sites2-web{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 5%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 22px;
  /* or 69% */

  letter-spacing: -0.408px;

  color: #5E18CA;
}

.blank{
  margin-top: 9.85%;
}

.bg-port-sites{
  background-image: url('./assets/bg-port-sites.png');
  margin-top: -10%;
}

.blank2{
  margin-top: 13%;
}


.bg-div3-sites-web{
  background-color: #5E18CA;
  height: 1100px;
  width: 1366px;
  margin-top: -9.8%;
}

.title-diferencial-site-web{

  margin-top: 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 22px;
  /* identical to box height, or 92% */

  text-align: center;
  letter-spacing: -0.408px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.card-diferencial-site{
  background-image: url('./assets/cardBgDiferencial.png');
  height: 660px;
  width: 470px;
  display: inline-block;
  margin-right: 2.5%;

}

.diferencial-cards{
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.title-dif{
  margin-top: 8%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 31px;
  /* identical to box height, or 97% */

  text-align: center;

  color: #FFFFFF;
}

.content-dif{
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}